*{
    box-sizing: border-box;
    font-size: 20px;
}
.Head {
    padding: 15px;
    background-color: rgb(106, 111, 177);
}
.Datos {
    padding:15px 15px 15px 15px;
    float:left;
    background-color: rgb(166, 167, 240);
}
.Color_fondo{
    padding: 1px;
    float:right;
}
.Main{
    border:1px darkblue;
    padding: 25px ;
    float:left;
}
h1, h2, h3 {
    font-size: 25px;
    font-family: 'Nunito', sans-serif;
    color:darkblue;
    width: 300px ;
}
.descripcion{
    display: none;
}
/* Diseño para pc*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
    /* Diseño para telefono */
    [class*="col-"] {
      width: 100%;
    }
  }
